*{
	margin: 0;
	padding: 0;
}
html, body {
	position: relative;
	height: 100%;
	overflow: hidden;
}
body{
	background: #34313f;
	color: #dbaf5b;
	font-size: 14px;

}
img{
	display: block;
}
#Mask{
	width: 100%;
	height: 100%;
	background: url(images/Mask-0.png);
	-webkit-box-sizing: 100px;
	-moz-box-sizing: 100px;
	box-sizing: 100px;
	position: absolute;
	z-index: 999999;
	pointer-events: none;
}
#pc-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	mix-blend-mode : soft-light;
	background: #34313f;
	opacity: 0.05;
	/*opacity: 0;*/

}
#jz-text{
	width: 100%;
	position: absolute;
	z-index: 100001;
	opacity: 0;
	transition:all 0.5s ease 0s;
	text-align:center;
	display: block;
	bottom: 0;
}
#frame{
	/*background: #000;*/
	position: relative;
}
#load-m{
	display: none;
	transition:all 1s ease 0s;
}
#load-p{
	display: none;
	transition:all 1s ease 0s;
}
.load-m{
	position: absolute;
	z-index: 99999;
	width: 128vw;
	top: calc(50% - 64vw);
	left: calc(50% - 64vw);
	transition: all 10s linear 0s;
}
#load-m-4{
	width: 100%;
	position: absolute;
	z-index: 99998;
}
.load-p{
	position: absolute;
	z-index: 99999;
	width: 480px;
	top: calc(50% - 240px);
	left: calc(50% - 240px);
	transition: all 10s linear 0s;
}
#load-p-4{
	width: 100%;
	position: absolute;
	z-index: 99998;
}
#load-k{
	pointer-events: none;
	width: 100%;
	height: 100%;
	background: url(images/load-k-2.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	z-index: 100000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	transition:all 0.5s ease 0s;
}
#load-k img{
	width: 100%;
}
#bz{
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: #34313f;
	pointer-events: none;
	transition:all 0.5s ease 0s;
	opacity: 0;
}
#bz-r{
	position: absolute;
	z-index: 7;
	top: 15%;
	width: 100%;
	height: 100%;
}
#bz-bg{
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 100%;
	mix-blend-mode : soft-light;

}
#card-frame{
	position: absolute;
	z-index: 7;
	top: 100%;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	transition:all 0.5s ease 0s;
	opacity: 0;
}
#card-frame-0{
	height: 50%;
}
#card-title{
	width: 100%;
}
#btn-1{
	width: 100%;
	/*margin-top: 35%;*/
	padding-bottom: 12%;
	background: #34313f;
	transition:all 0.5s ease 0s;
	/*opacity: 0;*/
}
#card-arr{
	width: 100%;
	flex: auto;
	background: #34313f;
	padding-top: 5%;
}
.k0	{
	width: 15%;
	position: absolute;
	/*top: 1%;*/
	left: 100%;
	transition:all 0.5s ease 0s;
}
#Cards-rotate{
	position: absolute;
	top: 3%;
	opacity: 0;
	pointer-events: none;
}
.swiper-slide{
	pointer-events: none;
}
#swiper-slide-img-1{
	pointer-events: none;
}
#swiper-slide-img-2{
	pointer-events: none;
}
#swiper-slide-img-2{
	transform:rotate(180deg);
}
#name{
	position: relative;
	text-align:center;
	display: block;
	z-index: 9999;
	top: 100%;
	pointer-events: none;
	transition:all 1s ease 0s;
	opacity: 0;
}
#Btn-2{
	position: absolute;
	z-index: 9999;
	width: 100%;
	top: 100%;
	transition:all 1s ease 0s;
	opacity: 0;
}
#Cards{
	position: absolute;
	/*z-index: 9999;*/
	transition:all 1s ease 0s;
	top: 3%;
	opacity: 0;
}
#text{
	position: absolute;
	z-index: 9999;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-end;
    align-items: flex-end;
    transition:all 1s ease 0s;
    top: 100%;
	opacity: 0;
}
#text div {
	margin-top: 20px;
}
#text div img{
	width: 40%;
	margin: 0 auto;
}
#text div div{
	padding-top: 6px;
	width: 86%;
	margin: 0 auto;
	text-align:center;
	display: block;
}
#txet_img{
	width: 100%;
	margin-bottom: -12px;
}

