*{
	margin: 0;
	padding: 0;
}
html, body {
	position: relative;
	height: 100%;
	overflow: hidden;
}
body{
	background: #eee;
}
#Mask{
	width: 100vw;
	height: 100vh;
	background: url(images/Mask.png);
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: 100000;
}
#Mask-h{
	width: 100vw;
	height: 100vh;
	background: #34313f;
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: 8;
	opacity: 0;
	transition: all 0.5s ease 0s;
	z-index: 10000;
}
#box{
	width: 100vw;
	height: 100vh;
	background: #34313f;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*display: none;*/
}
.k0{
	position: absolute;
	width: 14vw;
	top: 66vh;
	left: 100vw;
	-webkit-transform: 0px;
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: all 0.5s ease 0s;
	z-index: 2000;
	opacity: 0;
}
#Btn{
	width: 100vw;
	position: absolute;
	/*top: calc(100vh - 120px);*/
	top: 84vh;
	z-index: 9999;
	opacity: 0;
	transition: all 1s ease 0s;
}
#Btn-1{
	width: 100vw;
	position: absolute;
	top: calc(100vh - 120px);
	top: 84vh;
	z-index: 99999;
	opacity: 0;
	transition: all 1s ease 0s;
	display: none;
}
#load-k-1{
	width: 100vw;
}
#load-k-2{
	background: url(images/load-k-2.png);
	background-size: 100%;
	height: 100%;
	flex-grow: auto;
}
#load-k-3{
	width: 100vw;
}
#Cards{
	position: absolute;
	width: 14vw;
	top: 66vh;
	left: calc(50% - 7vw);
	z-index: 10;
	transition: all 1s ease 0s;
	display: none;
	z-index: 10001;
}
.swiper-container{
	width: 90vw;
	top: 5vh;
	left: calc(50% - 45vw);
	position: absolute;
	pointer-events: none;
	z-index: 9;
	opacity: 0;
	z-index: 10001;
	/*display: none;*/
}
.swiper-slide{
	width: 100vw;
	height: 160vw;
	background-size: 100%;
	pointer-events: none;
}

.Cards{
	width: 90vw;
	top: 10vh;
	left: calc(50% - 45vw);
}
#swiper-slide-1{
	pointer-events: none;
	background:url(images/Cards-bg.png);
	background-size: 100%;
}

#swiper-slide-2{
	pointer-events: none;
	background:url(images/Cards-bg.png);
}

#loda{
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background: #34313f;
	display: -webkit-flex;
    display: flex;
}
#load-k{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 9999;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.load-w{
	width: 128vw;
	left: calc(50% - 64vw);
	top: calc(50% - 64vw);
	position: absolute;
	transition: all 10s linear 0s;
	transform: 0;
	opacity: 1;
}
#load-4{
	width: 100vw;
	top: calc(50% - 89vw);
	position: absolute;
	opacity: 1;
}
#load-bg{
	width: 100vw;
	height: 100vh;
	background: #34313f;
	margin: auto;
	transition: all 1s ease 0s;
	opacity: 0;
	z-index: 996;
}
#bz{
	width: 100vw;
	position: absolute;
	z-index: 997;
	transition: all 3s ease 0s;
	opacity: 0;
	top: 10vh;
}
#bz-w{
	width: 100vw;
	position: absolute;
	z-index: 996;
	transition: all 0.5s ease 0s;
	opacity: 0;
	mix-blend-mode: soft-light;
}
#title{
	width: 100vw;
	position: absolute;
	z-index: 998;
	top: 40vh;
	transition: all 0.5s ease 0s;
	opacity: 0;
}

.cache{
	width: 50px;
	position: absolute;
}
#unscramble{
	width: 100vw;
	z-index: 11111;
	position: absolute;
	top: 100vh;
	transition: all 1s ease 0s;
}
#text-title{
	position: absolute;
	color: #dbaf5b;
	font-size: 15px;
	z-index: 999999;
	width: 100vw;
	text-align: center;
	display: block;
	top: calc(54vw + 5vh);
}



